div.rotator {
	position:relative;
	height:380px;
	display: none;
	/*background:#660000;*/
}
/* rotator css */
	div.rotator ul li {
	float:left;
	position:absolute;
	list-style: none;
}
div.rotator ul{
	margin:0;
	padding:0;
	
}
/* rotator image style */	
	div.rotator ul li img {
	background: "image/mid_bg.png";
}
    div.rotator ul li.show {
	z-index:500
}