body

.text_date
{
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #C1B49A;
	font-style: normal;
	text-decoration: none;
}
.text_white14
{
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-style: normal;
	text-decoration: none;
}
.text_white111
{
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-style: normal;
	text-decoration: none;
}
.text_white10
{
	font-family:  Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-style: normal;
	text-decoration: none;
}
.text_body
{
	font-family:  Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	font-style: normal;
	text-decoration: none;
}
.text_topic
{
	font-family:  Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-style: normal;
	text-decoration: none;
}
.text_topic2
{
	font-family:  Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: #BE1E2D;
	font-style: normal;
	text-decoration: none;
}
.tbl
{
	border: 1px solid #FFFFFF;
}